@model StokMVC.Models.Entity.tblKATEGORI 
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using(Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{


    <h2>Kategori Güncelleme</h2>
    <br />
    @Html.TextBoxFor(x=>x.ad, new { @class = "form-control"} )   
    <br />
    <button class="btn btn-warning">Güncelle</button>
    @Html.HiddenFor(x=>x.id)
}

